<h1>Makeup Routine</h1>

<h2>Daytime Products</h2>

<ul>
  {{#each Products}}
    {{#unless day}}
    <li>
	{{this.name}}

	<button class="change-time" data-id="{{this.id}}" data-newtime="{{day}}">
		{{#if day}}Day{{else}}Evening{{/if}}
	</button>

	<button class="delete-product" data-id="{{this.id}}">DELETE!</button>
</li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Evening Routine</h2>

<ul>
  {{#each Products}}
    {{#if day}}
      <li>
	{{this.name}}

	<button class="change-time" data-id="{{this.id}}" data-newtime="{{day}}">
		{{#if day}}Day{{else}}Evening{{/if}}
	</button>

	<button class="delete-product" data-id="{{this.id}}">DELETE!</button>
</li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Product</h2>
<form class="create-form">

  <div class="form-group">
    <label for="pu">Product Name:</label>
    <input type="text" id="pu" name="name">
  </div>

  <div class="form-group">
    <label for="day">Time?</label><br>
    <input type="radio" name="day" value="1" checked> Evening<br>
    <input type="radio" name="day" value="0"> Day
  </div>

  <button type="submit">Add Product</button>
</form>
